.rowNested {
    background-color:#afafaf;
}

.navBarSpacer {
  padding-top: 10px;
  padding-bottom: 10px
}

.inPageSpacer {
  padding-top: 20px;
  padding-bottom: 20px
}

.redCircle {
    border:7px solid rgb(226, 64, 64);
    border-radius:50%;
    background:rgba(0,0,0,0);
    color:rgb(226, 64, 64);
    width:150px;
    height:150px;
    text-align:center;
    line-height:137px;
    font-size: 30px;
}

.greenCircle {
    border:7px solid rgb(48, 211, 83);
    border-radius:50%;
    background:rgba(0,0,0,0);
    color:rgb(48, 211, 83);
    width:150px;
    height:150px;
    text-align:center;
    line-height:137px;
    font-size: 30px;
}

.nav-tabs .nav-link.active {
    background-color: #0DCAF0;
    color: #fff;
    border: 2px solid #000000;
}

.nav-tabs .nav-link {
    background-color: #F8F9FA;
    color: #000000;
    border: 1px solid #dbe0e3;
    margin-right: 3rem;
    margin-left: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-tabs .nav-link:hover {
    background-color: #19a5c191;  
    border: 0px solid rgb(26, 26, 26);
    color:rgb(0, 0, 0);
}

.nav-tabs {
    border-bottom: 2px solid #ffffff;
}

.tab-content {
    border: 2px solid #ffffff;
    padding: 20px;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centerText {
    text-align: center;
}

.wrap {
    word-wrap: break-word;
}